*{
    margin: 0;
    padding: 0;
}

.container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    width: 100px;
}

.input-field {
    margin-bottom: 15px;
}

.input-field input {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.button-field {
    margin-bottom: 15px;
}

.button-field button {
    width: 100%;
    height: 40px;
    background-color: #1877f2;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-field button:hover {
    background-color: #166fe5;
}

.forgot-password {
    text-align: center;
    margin-bottom: 15px;
}

.forgot-password a {
    text-decoration: none;
    color: #1877f2;
}

.create-account {
    text-align: center;
    background-color: green
}

.create-account a {
    text-decoration: none;
    background-color: green
}
